.AllCards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.AllCards > .CardStack > .Card {
    margin: 0.5rem;
}

.AllCards > .Link > .Footer--Button {
    margin-top: 4rem;
    width: 382px;
    height: 80px;
    border: 1px solid #000000;
    border-radius: 8px;
    
    font-family: monospace;
    font-size: 22px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    background-color: white;
}

.Footer--Button:hover {
    filter: invert();
}

.smalltext {
    font-family: sans-serif;
    font-size: 12px;
    text-align: center;
    color: rgba(34, 34, 34, 0.6);
    margin-bottom: -0.5rem;
}
.smalltext2 {
    font-family: sans-serif;
    font-size: 12px;
    text-align: center;
    color: rgba(34, 34, 34, 0.6);
    margin-bottom: -1.5rem;
}